# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env

# Database
*.db
*.sqlite3

# Node.js
node_modules/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python test cache
.pytest_cache/

# Build files
dist/
build/